.nft-card .image-link::before{
    content: '';
    background-color: palevioletred;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
    border-radius: 10px;
    
    
}

.nft-card .image-link::after{
    content: '';
    background: url(./img/icon-view.svg) no-repeat center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.4s;
  
    
}




.nft-card .image-link:hover::before{
    opacity: 0.5;
}

.nft-card .image-link:hover::after{
    opacity: 1;
}

